body {
  background-image: url("../images/background.jpg");
}

h1 {
  background-color: #5c0099;
  opacity: 0.7;
  color: white;
  border: solid 1px white;
  display:inline;
  clear: both;
  padding: 10px;
  margin-bottom: 20px;  
}

#header {
  width: 100%
  max-width:960px;
  margin: 0 auto;
}

#instructions {
  background-color: #0040ff;
  opacity: 0.7;
  color: white;
  border: solid 1px white;
  width: 33%;
  clear:both;
  padding: 15px;
  margin-top: 20px; 
}

#guessingNumber {
  background-color: #009688;
  opacity: 0.7;
  float: left;
  display: inline-block;
  padding: 10px;
  margin-top: 20px;
  width: 200px;
  height: 145px;
  border: solid 1px white;
}

#scorebox {
  background-color: #03A9F4;
  opacity: 0.7;
  display: inline-block;
  padding: 15px 20px 10px 15px;
  margin-top: 20px;
  margin-left: 20px;
  width: 100px;
  height: 140px;
  border: solid 1px white;
}

#crystals {
  margin-top: 20px;
  margin-bottom: 30px;
}

.crystalImage {
  height: 100px;
  margin-left: 20px
}

#totalScore {
  margin-bottom: 50px;
}

#yourTotalScore {
  background: #009688;
  opacity: 0.7;
  display: inline;
  padding: 20px;
  color: white;
  border: solid 1px white;
}

#yourScore {
  background: #009688;
  opacity: 0.7;
  display: inline;
  padding: 20px;
  padding-right: 210px;
  color: white;
  border: solid 1px white;
}


